th,
td {
    text-align: center;
}

th,
.blue {
    color: #656565;
    background-color: #e5f3ff;
}

.textnum,
.textright {
    text-align: right;
}

.textleft {
    text-align: left;
}

.textcenter {
    text-align: center;
}

.textmiddle {
    vertical-align: middle;
}

.excelimg {
    width: 3%;
    height: auto;
    margin-left: 1%;
    /* margin-top:2%; */
    text-align: center;
}

.imgdeb {
    width: 10%;
    display: block;
    border-radius: 50%;
    /* margin: 0 auto; */
    /* float: right; */
}

.imgdeb_pre {
    width: 30%;
    border-radius: 50%;
}

.text_imgdeb {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}

.dataTables_filter,
.dataTables_info {
    display: none;
}

.textwhite {
    color: white;
}

.search_tab {
    padding: 11px 0 11px 0;
    background: #0f7d41;
    margin-bottom: 4px;
}


/* Style the tab */

.tab {
    overflow: hidden;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #0f7d41;
    color: white;
    /* background-color: #ccc; */
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontentfix {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}